.redBorder
{
  
  border-radius: 25px;
  border: 2px solid #ff8f8f;
  padding: 20px;
  border-width: 1;
  width: 350px;
  margin: 10px;
  position: relative;

}

.greenBorder
{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  border-width: 1;
  width: 350px;
  margin: 10px
  
}

.ChossenUser
{ 
  background:rgb(255, 184, 184)
}
.input
{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.Address
{
  border-radius: 25px;
  
  background:rgb(216, 216, 216);
  padding: 30px;
  border-width: 1;
  width: 250;
  margin: 10px
  
}





