.addDiv
{
  
  border-radius: 25px;
  border: 2px solid #ff8f8f;
  padding: 20px;
  border-width: 1;
  width: 350px;
  margin: 115px;
  position:relative; right: 335px
}
.input
{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


